body {
  background-color:#a7abb2;
}
.site {
display: grid;
grid-template-rows: auto;
grid-template-columns: repeat(80,1fr);
}
.img2 {
  background-color: black;
}
.img1 {
  background-color: ;
}
.img {
  background-color: ;
}
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}
