html,body {
  height: 100%;
}
body {
  margin: 0;
}
.container {
  background: url(bimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial,Helvetica,sans-serif;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form{
  margin: 0;
  position: relative;
  background: rgba(0,0,0,.7);
  padding: 60px 10px 20px 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 300px;
}
.fr{
  margin: 0;
  position: relative;
  background: rgba(0,0,0,.7);
  padding: 60px 10px 20px 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 50px;

}
.avatar {
  position: absolute;
  background: #74b9ff;
  border-radius: 50%;
  top:-10%;
  left: 40%;
  z-index: 4;
}
.avatar img {
  width: 64px;
  height: 64px;
}

.form-item {
  padding: 15px 15px 15px 15px;
  flex:1;
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
}

.form-item label {
  display: block;
  flex:1;
  margin-bottom: 0px;
  cursor: pointer;
}

.form-item input {
  padding: 4px 0px;
  flex:1;
  background: transparent;
  border-top: none;
  outline: none;
  border-left: none;
  border-right: none;
  caret-color: #fff;
  color:#fff;
  transition: all 200ms;
  border-bottom-color: #fff;
}

.form-item input:focus{
  border-bottom-color: coral;
}

::placeholder,
::ms-input-placeholder,
:ms-input-placeholder{
  color:#ccc;
  font-size:12px;
}

.form-item button {
  flex:1;
  display: block;
  padding: 13px;
  font-weight: bold;
  font-size: 1em;
  color:#fff;
  letter-spacing: .5px;
  border-radius: 30px;
  background-color: #ff3838;
  border: none;
  outline:none;
  transition: all 200ms;
}
.form-item button:hover {
  cursor:pointer;
  background: rgba(255, 56, 56,.7);
}
.form-item a {
  text-decoration: none;
}

.is-link {
  color: #fff;
  flex:1;
  font-size: 14px;
}

.is-link:hover {
  text-decoration: underline;
}

